.report-page {
    background: black;
    height: 100vh;
    text-align: center;
    font-family: fantasy;
    background: url(https://www.skotcher.com/wall/604fdf6ffc45d1a810f11d6ebd9a2183/alien-landscape-blue-neptune-planet-starlight.jpg);
}

h1 {
    color: white;
    font-size: 2rem;
    padding: 2rem;
}

h2 {
    color: white;
    padding-bottom: 2rem;
}

form {
    display: flex;
    flex-flow: column;
    width: 100%;
    margin: 0 auto;
}

select {
    background: black;
    border: none;
    color: red;
    width: 100%;
    font-size: 1rem;
    border-radius: 0;
    -webkit-appearance: none;
    border-bottom: 1px solid white;
    line-height: 1.5;
    padding-left: 8px;
}

textarea {
    padding: .5rem;
    margin-top: 2rem;
    background: lightpink;
}

button {
    color: white;
    /*width: 100%;
    margin: 0 auto;*/
    margin-top: 6rem;
    background: black;
    border: 0;
    font-size: 1.8rem;
    font-weight: 200;
    font-family: fantasy;
}