.encounters-page {
    width: 98%;
    margin:0 auto;
}
h1 {
    font-size: 2rem;
    text-align: center;
}

h2 {
    text-align: center;
}

ul {
    height: 400px;
    overflow: auto;
    margin-top: 2rem;
}

p {
    padding-left: 10px;
}

.report-button {
    background: black;
    color: white;
    width: %;
    text-align: center;
    height: 100px;
    font-size: 2rem;
}