.register-page {
    background: black;
    height: 100vh;
    font-family: 'Aldrich', sans-serif;
}

h1 {
    padding: 3rem 0;
    color: lighten(#004f76, 20%);
    text-align: center;
    font-size: 2rem;
    letter-spacing: 2px;
    font-weight: lighter;
}

form {
    width: 99%;
    margin: 0 auto;
    &:focus {
        outline-color: #004f76;
    }
}

input {
    width: 98%;
    background: black;
    border: none;
    border-bottom: 1px solid white;
    color: whitesmoke;
    font-size: 1rem;
    margin-bottom: 10px;
    padding-left: 8px;
    line-height: 1.5;
    font-family: 'Aldrich', sans-serif;
    &:focus {
        outline-color: #004f76;
    }
}

::-webkit-input-placeholder {
    color: red;
    margin-bottom: 2px;
    font-family: 'Aldrich', sans-serif;
}

select {
    background: black;
    border: none;
    color: whitesmoke;
    ;
    width: 100%;
    font-size: 1rem;
    border-radius: 0;
    -webkit-appearance: none;
    border-bottom: 1px solid white;
    line-height: 1.5;
    padding-left: 8px;
    font-family: 'Aldrich', sans-serif;
    &:focus {
        outline-color: #004f76;
    }
}

select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
}

@keyframes blink {
    50% {
        border: 1px solid lighten(#004f76, 15%);
        -moz-box-shadow: 0 0 5px 5px lighten(#004f76, 15%);
        -webkit-box-shadow: 0 0 5px 5pxl ighten(#004f76, 15%);
        box-shadow: 0 0 5px 5px lighten(#004f76, 15%);
    }
}

.invalidForm .ng-invalid {
    animation: blink .5s step-end infinite alternate;
}

form select.ng-pristine,
form input.ng-pristine {
    color: #ff0000;
}

button {
    color: lighten(#004f76, 18%);
    width: 100%;
    margin: 0 auto;
    margin-top: 10rem;
    background: black;
    border: 0;
    font-size: 1.8rem;
    font-weight: 200;
    font-family: 'Aldrich', sans-serif;
}

p {
    color: white;
}


/*.ng-invalid {
    border: 1px solid blue;
}*/