<div class="register-page">
    <h1>Register</h1>

    <form [formGroup]="registerForm" class="register-form" (ngSubmit)="onSubmit($event)">

        <input type="text" placeholder="Name" formControlName="name" />
        <input type="number" placeholder="Age" formControlName="age" />

        <select formControlName="job_id">
            <option [value]="NO_JOB_SELECTED">--Select occupation--</option>
            <option *ngFor= "let job of marsJobs" [value]="job.id">{{job.name}}</option>
        </select>
        <button>Check in</button>
        <!--[disabled]="!jobSelected || registerForm.invalid"-->
    </form>
</div>