.register-page {
    background: black;
    height: 100vh;
    font-family: 'Aldrich', sans-serif;
}

h1 {
    padding: 3rem 0;
    color: white;
    text-align: center;
    font-size: 2rem;
    letter-spacing: 2px;
    font-weight: lighter;
}

form {
    width: 99%;
    margin: 0 auto;
}

input {
    width: 98%;
    background: black;
    border: none;
    border-bottom: 1px solid white;
    color: white;
    font-size: 1rem;
    margin-bottom: 10px;
    padding-left: 8px;
    line-height: 1.5;
    font-family: 'Aldrich', sans-serif;
}

::-webkit-input-placeholder {
    color: red;
    margin-bottom: 2px;
    font-family: 'Aldrich', sans-serif;
}

select {
    background: black;
    border: none;
    color: white;
    width: 100%;
    font-size: 1rem;
    border-radius: 0;
    -webkit-appearance: none;
    border-bottom: 1px solid white;
    line-height: 1.5;
    padding-left: 8px;
    font-family: 'Aldrich', sans-serif;
}

select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
}

@keyframes blink {
    50% {
        border: 1px solid #ff0000;
        -moz-box-shadow: 0 0 5px 5px #ff0000;
        -webkit-box-shadow: 0 0 5px 5px#ff0000;
        box-shadow: 0 0 5px 5px #ff0000;
    }
}

.invalidForm .ng-invalid {
    animation: blink .5s step-end infinite alternate;
}

form select.ng-pristine,
form input.ng-pristine {
    color: #ff0000;
}

button {
    color: white;
    width: 100%;
    margin: 0 auto;
    margin-top: 10rem;
    background: black;
    border: 0;
    font-size: 1.8rem;
    font-weight: 200;
    font-family: 'Aldrich', sans-serif;
}

p {
    color: white;
}


/*.ng-invalid {
    border: 1px solid blue;
}*/